body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./image/g4.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 3em;
}

.hero-content p {
    font-size: 1.5em;
}

.btn {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.menu-section {
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.menu-container {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.menu-grid {
    display: inline-flex;
    gap: 16px; /* Adjust the gap between items as needed */
}

.menu-item {
    flex: 0 0 auto;
    width: 200px; /* Adjust width based on your design */
    text-align: center;
}


.menu-item img {
    width: 100%;
    border-radius: 10px;
}

.about-section {
    padding: 50px 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.contact-form{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    
}
.contact-form p{
    padding-bottom: 100%;
}
.i{
    width: 400px;
    height: 400px;
}

.contact{
    padding-left: 15px;
}

