/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header and Navigation */
header {
    background-color: #042538;
    padding: 10px 0;
    color: white;
    /* padding-bottom: 10px; */
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom: 20px;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    /* padding-bottom: 10px; */
}

.nav-menu a:hover {
    color: #ddd;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./image/t7.jpg');
    background-size: cover;
    color: white;
    text-align: center;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
}

.hero-content button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #b8162a;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.hero-content button:hover {
    background-color: #f51628;
}

/* Services Section */
.services-section {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.services-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color:#b8162a;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    /* color:#f71a1a; */
}

.service-item p {
    font-size: 1rem;
    color: #333;
}

/* About Section */
.about-section {
    padding: 50px 20px;
    background-color: #ebf0f5;
    text-align: center;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color:#b8162a;
}

.about-section p {
    font-size: 1rem;
    color: #110e0e;
    max-width: 800px;
    margin: 0 auto;
}

/* Contact Section */
.contact-section {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color:#b8162a;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #7c90b9;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #b8162a;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #2e1319;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


